version: 2
updates:
  - package-ecosystem: "github-actions"
    directories: 
      - "/**"
    schedule:
      interval: "weekly"
    groups:
      gh-actions:
        patterns:
          - "*"

      
  - package-ecosystem: "gomod"
    directories: 
      - "/**"
    schedule:
      interval: "weekly"
    groups:
      golang-deps:
        patterns:
          - "*"


  - package-ecosystem: "docker"
    directories: 
      - "/**"
    schedule:
      interval: "weekly"
    groups:
      docker:
        patterns:
          - "*"
